.todoListMain .title {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(9, 43, 44);
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
    border-radius: 5px;
    background-color: azure;
  }

  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #062a5f;
    color: #FFF;
    border: 2px solid #062a5f;
    border-radius: 6px;
  }
  
  .todoListMain .header button:hover {
    background-color: #3669ce;
    border: 2px solid #3669ce;
    cursor: pointer;
  }
  .todoListMain .header input:hover {
    cursor: pointer;
    background-color: white;
  }

  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  }
  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .todoListMain .theList li:hover {
    cursor: pointer;
    background-color: white;
  }